.carousel__outterDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.carousel__pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    border: 1px solid black;
}